<div class="content" role="main">
  <!-- Resources -->
  <h2>Work Flows</h2>
  <!-- <p>Here are some links to help you get started:</p> -->
  <div class="card-container">
    <a class="card" routerLink="/work-hours">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        style="margin-right: 8px"
        width="21.813"
        height="23.453"
        viewBox="0 0 179.2 192.7"
      >
        <path
          fill="#ffa726"
          d="M89.4 0 0 32l13.5 118.4 75.9 42.3 76-42.3L179.2 32 89.4 0z"
        />
        <path fill="#fb8c00" d="M89.4 0v192.7l76-42.3L179.2 32 89.4 0z" />
        <path
          fill="#ffe0b2"
          d="m102.9 146.3-63.3-30.5 36.3-22.4 63.7 30.6-36.7 22.3z"
        />
        <path
          fill="#fff3e0"
          d="M102.9 122.8 39.6 92.2l36.3-22.3 63.7 30.6-36.7 22.3z"
        />
        <path
          fill="#fff"
          d="M102.9 99.3 39.6 68.7l36.3-22.4 63.7 30.6-36.7 22.4z"
        />
      </svg>
      <span>Work Hours</span>
    </a>
    <a class="card" routerLink="/signup-sheet">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
        />
      </svg>
      <span>SignUp Sheet</span>
    </a>
  </div>
</div>
